body {
    padding: 0px;
    margin: 0px;

}


main {
    padding: 16px;

}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: orange;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    background-color: orange;
    padding: 16px;

}

.my-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    align-content: space-evenly;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-column-start: 1;
    grid-row-end: 2;

}

.grid-item2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

}

.grid-item3 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

}

.grid-item4 {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item5 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

a {
    color: green
}

#main-link {
    color:blanchedalmond
}


h1 {
    color: darkgreen
}
